<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      You don't have to be great at something to start, but you have to start to be great at something
    </div>
  </div>
  <div class="button-container">
    <!-- <ion-button block  class="login">SIGN IN</ion-button> -->
    <ion-button color="primary" shape="round" routerLink="/login">SIGN IN</ion-button>
  </div>
  <div class="button-container">
    <!-- <ion-button block color="old_primary">CONTINUE AS GUEST</ion-button> -->
    <ion-button color="light" shape="round" routerLink="/news">CONTINUE AS GUEST</ion-button>
  </div>
</ion-content>
