<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/news"></ion-back-button>
    </ion-buttons>
    <ion-title>Lock down</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isLoading">
    <ion-grid style="margin:0;padding:0"> 
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="no-padding" style="margin:0;padding:0">
          <ion-img *ngIf="news.imageUrl !== ''" src="http://127.0.0.1:8000/media/images/news/images/{{ news.imageUrl }}"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-padding">
          <div [innerHTML]="news.body" class="news-body">
  
          </div>
          <!-- <div class="news-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, molestiae error tempore culpa odit doloremque ex accusantium expedita magnam assumenda dolore cumque maiores vitae voluptate ipsa saepe totam sapiente aliquam?
          </div> -->
        </ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="isBookable">
        <ion-col size-sm="6" offset-sm="3" text-center>
          <ion-button class="primary" margin (click)="onBookPlace()">Book</ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>
  <div *ngIf="isLoading">
    <div class="custom-skeleton">
      <ion-grid style="margin:0;padding:0"> 
        <ion-row>
          <ion-col size-sm="6" offset-sm="3" style="margin:0;padding:0">
            <div style="width:100%;height:300px;background-color:#e6e6e6;"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3" class="ion-padding">
            <div>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
            </div>
          </ion-col>
        </ion-row>
        <!-- <ion-row *ngIf="isBookable">
          <ion-col size-sm="6" offset-sm="3" text-center>
            <ion-button class="primary" margin (click)="onBookPlace()">Book</ion-button>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </div>
  </div>
</ion-content>
