<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-title>Login</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <img style="width:100%" src="assets/img/appicon.png"/>
  </div>
  <div class="login-title-container">
    <h3 class="login-header">Login</h3>
    <p class="login-subheader">Enter your RSA pin and password to login to your account</p>
  </div>
  <div class="form-container">
    <div class="divider"></div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-item>
        <ion-label position="floating">PIN</ion-label>
        <ion-input
          type="text"
          ngModel
          name="pin"
          required
          minlength="12"
          maxlength="15"
          #pinCtrl="ngModel"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="!pinCtrl.valid && pinCtrl.touched"
        lines="none"
      >
        <ion-label>
          Should be a valid RSA Pin.
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          ngModel
          name="password"
          required
          minlength="3"
          #passwordCtrl="ngModel"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
        lines="none"
      >
        <ion-label>
          Should at least be 3 characters long.
        </ion-label>
      </ion-item>

      <div class="button-container" style="margin-top:20px;">
        <!-- <ion-button block  class="login">SIGN IN</ion-button> -->
        <ion-button type="submit" color="primary" [disabled]="!f.valid" shape="round">SIGN IN</ion-button>
      </div>
      <div class="or">
        <span>OR</span>
      </div>
      <div class="button-container">
        <!-- <ion-button block color="old_primary">CONTINUE AS GUEST</ion-button> -->
        <ion-button color="light" shape="round" routerLink="/news">CONTINUE AS GUEST</ion-button>
      </div>
    </form>

  </div>
</ion-content>
