<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-title>Branches</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p *ngIf="!branches" class="white-bg" padding>Loading, please wait...</p> -->
  <div *ngIf="!isLoading">
    <ion-searchbar (ionInput)="filterBranches($event)"></ion-searchbar>
    <ion-list>
      <ion-card *ngFor="let branch of branches; index as i" (click)="expandItem(items[i])">
        <ion-card-header color="primary">{{ branch.name }}</ion-card-header>
    
        <ion-card-content style="padding: 0;">
          <app-expandable expandHeight="600px" [expanded]="items[i].expanded">
            <div class="expandible-container">
              <div class="text-center">
                <div class="my-sub-header">Address:</div>
                <div>{{ branch.address }}</div>
      
                <div class="my-sub-header">Contact Person:</div>
                <div>{{ branch.contact_person }}</div>
      
                <div class="my-sub-header">Telephone:</div>
                <div>{{ branch.telephone }}</div>
              </div>
            </div>
          </app-expandable>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>


  <div *ngIf="isLoading">
    <div class="custom-skeleton">
      <ion-searchbar></ion-searchbar>
      <ion-list>
        <ion-card>
          <ion-card-header color="primary">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
      
          <ion-card-content style="padding: 0;">
            <app-expandable expandHeight="600px" [expanded]="true">
              <div class="expandible-container">
                <div class="text-center">
                  <div class="my-sub-header">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </div>
                  <div><ion-skeleton-text animated></ion-skeleton-text></div>
        
                  <div class="my-sub-header"><ion-skeleton-text animated></ion-skeleton-text></div>
                  <div><ion-skeleton-text animated></ion-skeleton-text></div>
        
                  <div class="my-sub-header"><ion-skeleton-text animated></ion-skeleton-text></div>
                  <div><ion-skeleton-text animated></ion-skeleton-text></div>
                </div>
              </div>
            </app-expandable>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header color="primary">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
      
          <ion-card-content style="padding: 0;">
            <app-expandable expandHeight="600px" [expanded]="false">
            </app-expandable>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header color="primary">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
      
          <ion-card-content style="padding: 0;">
            <app-expandable expandHeight="600px" [expanded]="false">
            </app-expandable>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header color="primary">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
      
          <ion-card-content style="padding: 0;">
            <app-expandable expandHeight="600px" [expanded]="false">
            </app-expandable>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header color="primary">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
      
          <ion-card-content style="padding: 0;">
            <app-expandable expandHeight="600px" [expanded]="false">
            </app-expandable>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header color="primary">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
      
          <ion-card-content style="padding: 0;">
            <app-expandable expandHeight="600px" [expanded]="false">
            </app-expandable>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header color="primary">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
      
          <ion-card-content style="padding: 0;">
            <app-expandable expandHeight="600px" [expanded]="false">
            </app-expandable>
          </ion-card-content>
        </ion-card>
      </ion-list>

    </div>
  </div>
</ion-content>
