.style_header{
    background-color:#09347a;
    margin-top: -10px;
}
.header_extend{
    color:white;
    padding-bottom: 22px;
    padding-top: 20px;
}

.rsa_balance{
    text-align: center;
    font-size: 12px;
    margin-bottom: 7px;
}
.rsa_cash{
    text-align: center;font-size: 21px;margin-bottom: 15px;
}
.unit_price_container{
    margin-top: 8px;padding-bottom:8px
}
.price_float{
    float: left;
    width: 50%;
    text-align: center;
}

.toolbar{
    margin-bottom: 0;
    z-index: 1;
}

.contribution-summary {
    padding: 6px;
    ion-card-title{
        padding: 4px;
        margin: 0;
    }
    ion-card-content{
        font-size: 20px;
        font-weight: bold;
        padding:3px;
        margin: 0;
        color: #09347a;
    }
}

ion-label.summary-date{
    display: block;
    color: var(--ion-color-primary);
    font-weight: bold;
    text-align: center; 
}

ion-label.label-header{
    display: block;
    color: grey;
    // color: #a37629;
    font-size: 18px;
}
ion-card{
    border: 1px solid var(--ion-color-primary);
}

ion-segment {
    border: 2px solid var(--ion-color-primary);
    margin: 0;
  }
ion-segment-button{
    --indicator-box-shadow: transparent!important;
    border-radius: 0 !important;
    padding: 0.1rem;
    margin: 0;
    --background:white;
    --color:#2d2e87;
    --background-checked: var(--ion-color-primary)!important;
    --color-checked: white;
    --indicator-color : transparent!important; /* this solution */
    }



