.menu-style{
    background: url('../assets/img/sky.jpg') no-repeat center center !important;
    ion-list{
        background: inherit;
    }

}

ion-content {
    background-image:  url('../assets/img/sky3.jpg');
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-size:cover;
    height: 100%;
    // position: absolute;
    --ion-background-color:none;
    ion-icon, ion-label{
        color: black !important;
    }
    // background:url('../assets/img/lockdown.png');
}

.transp .item-content {
    background-color: transparent !important;
    color: #fff;
}

.active-link{
    --background:var(--ion-color-primary);
    ion-label, ion-icon{
        color: #fff !important;
    }
}

.user-text {
    margin: 15px 10px 10px 10px;
    padding-left: 15px;
    border-left:8px solid var(--ion-color-secondary);
    font-weight:bold;
    div {
        color: var(--ion-color-primary);
    }
}