<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-title>Downloads</ion-title>
</ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item class="style-list">
      <a href="">Death Benefit Checklist</a>
    </ion-item>
    <ion-item class="style-list">
      <a href="">Lump Sum withdrawal Checklist</a>
    </ion-item>
    <ion-item class="style-list">
      <a href="">Annuity Request Checklist</a>
    </ion-item>
    <ion-item class="style-list">
      <a href="">
        Request For Lump Sum & Programmed Withdrawal Payment Checklist
        (State Govt Retirees) Download File size: (222KB)
      </a>
    </ion-item>
    <ion-item class="style-list">
      <a href="">En-Bloc Payment Request Checklist</a>
    </ion-item>
    <ion-item class="style-list">
      <a href="">
        Request For Lump Sum & Programmed Withdrawal Payment Checklist
        (State Govt Retirees) Download File size: (222KB)
      </a>
    </ion-item>
    <ion-item class="style-list">
      <a href="">En-Bloc Payment Request Checklist</a>
    </ion-item>
    <ion-item class="style-list">
      <a href="">Lump Sum withdrawal Checklist</a>
    </ion-item>
  </ion-list>
</ion-content>
