<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  <ion-title>New Client Registration</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="login-title-container">
      <h4 class="login-header">Register With Us</h4>
    </div>
    <div class="form-container">
      <div class="divider"></div>
      <form [formGroup]="form">
        <ion-item>
          <ion-label position="floating">Firstname</ion-label>
          <ion-input type="text" formControlName="firstname"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Surname</ion-label>
          <ion-input type="text" formControlName="surname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Date of Birth</ion-label>
          <ion-datetime 
            display-format="MMM DD YYYY"
            picker-format="DD MMMM YYYY"
            name="date-from" 
            formControlName="dob"
            ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">State of posting</ion-label>
          <ion-select formControlName="state">
            <ion-select-option *ngFor="let state of states" value="{{state.value}}">
              {{ state.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">NIN</ion-label>
          <ion-input type="text" formControlName="nin"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Employer</ion-label>
          <ion-input type="text" formControlName="employer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Employer Address</ion-label>
          <ion-textarea rows="2" formControlName="employerAddress"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">How did you find out about us?</ion-label>
          <ion-select formControlName="medium">
            <ion-select-option value="uba">UBA Group</ion-select-option>
            <ion-select-option value="newspaper">Newspaper Publication</ion-select-option>
            <ion-select-option value="socialmedia">Social Media</ion-select-option>
            <ion-select-option value="radio">Radio</ion-select-option>
            <ion-select-option value="tv">TV</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <app-image-picker
              [showPreview]="form.get('image').value"
              (imagePick)="onImagePicked($event)"
            ></app-image-picker>
          </ion-col>
        </ion-row>
  
        <div class="button-container" style="margin-top:5px;">
          <ion-button color="primary" (click)="OnSubmitForm()" shape="round" [disabled]="form.invalid">SUBMIT</ion-button>
        </div>
      </form>
    </div>

  </ion-grid>
</ion-content>
